---
// import layouts
import MainLayout from '../Layout/MainLayout.astro';

// import components
import Cover from '../Components/Cover.astro';
import ContactForm from '../Components/ContactForm.astro';
import ProjectDisplay from '../Components/ProjectDisplay.astro';
import SkillsSection from '../Components/SkillsSection.astro';
import DivisionHr from '../Components/DivisionHr.astro';
import HeroIcons from '../Components/HeroIcons.astro';

import { projects } from '../Data/projects';
---

<MainLayout subtitle="HOME">
  <Cover
    coverTitle="¡Hola mundo!"
    description="Bienvenidos a mi pequeño espacio en la web. Desarrollador web front end, diseñador UI e ilustrador. "
    coverImage="/images/hero-images/index-hero.webp"
  >
    <HeroIcons
      img="/images/hero-images/hero-icons/coding.avif"
      position="top-10 left-20"
    />
    <HeroIcons
      img="/images/hero-images/hero-icons/web-anal.avif"
      position="top-[35%] right-[20%]"
    />
    <HeroIcons
      img="/images/hero-images/hero-icons/website.avif"
      position="bottom-[10%] left-[20%]"
    />
    <img
      class="rounded-full aspect-square object-cover mb-4"
      src="/images/hero-images/index-hero.webp"
      alt="Personal foto."
    />
  </Cover>
  <DivisionHr />
  <!--** SKILLS section **-->
  <SkillsSection />
  <!--** PROJECTS section **-->
  <section
    id="projects"
    class="projects flex flex-col gap-[1rem]"
    aria-label="Proyectos"
  >
    <header class="flex flex-col gap-4 mb-[10vh]">
      <h2 class="projects__h2">
        Mis ultimos<span class="text-green-600">proyectos</span>
      </h2>
      <p class="projects__p">
        El trabajo suele hablar por sí solo, toda la experiencia que tengo esta
        aqui presente. Estos son algunos de los proyectos en los que he
        trabajado, ya sea de manera indivudual o en equipo.
      </p>
    </header>

    <!--**************-->
    {
      projects.map((project) => (
        <ProjectDisplay
          name={project.name}
          description={project.description}
          link={project.link}
          github={project.github}
          imagesrc={project.imagesrc}
          position={project.position}
        />
      ))
    }
  </section>
  <!--**************-->
  <ContactForm />

  <style lang="scss" is:global>
    .projects__p {
      position: relative;
      width: fit-content;
      padding: 1rem;
      background-color: var(--clr-text-3);
      outline: solid 2px var(--clr-border-2);
      --distance: 6px;

      &::after,
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        border: inherit;
        z-index: -1;
      }
      &::after {
        transform: translate(var(--distance), var(--distance));
        background-color: var(--clr-background-1);
      }
      &::before {
        transform: translate(
          calc(var(--distance) * 2),
          calc(var(--distance) * 2)
        );
        background-color: var(--clr-text-2);
      }
    }
    .projects {
      width: min(100% - 2rem, 80em);
      margin-inline: auto;
    }
  </style>
</MainLayout>
