---
import data from "../Data/arte.json";

import { Image } from "astro:assets";
import MainLayout from "../Layout/MainLayout.astro";
import Cover from "../Components/Cover.astro";

import SectionGrid from "../Components/SectionGrid.astro";
import GalleryDiv from "../Components/ui/GalleryDiv.astro";
---

<MainLayout subtitle="About">
  <Cover
    coverTitle="Bonjour 🎨"
    description="Aparte de ser programador, también me gusta pintar, escribir, diseñar, y crear cosas. Me gusta trabajar en equipo, aprender cosas nuevas, y me gusta hacer cosas que me inspiren."
  >
    <Image
      width="10"
      height="10"
      src={data[11].image}
      class="w-full h-[420px] object-cover object-center rounded-xl"
      decoding="async"
      loading="lazy"
      alt="A sketch of a woman looking down."
    />
  </Cover>
  <SectionGrid masonry={true}>
    {
      data.map((post) => (
        <GalleryDiv
          imagen={post.image}
          alt={post.alt}
          date={post.date}
          id={post.id}
        />
      ))
    }
    <div
      id="image-show"
      style="display: none;"
      class="fixed z-50 inset-0 grid place-items-center w-full h-full bg-zinc-800/80 backdrop-blur-sm"
    >
      <img
        class="w-full max-w-[400px]"
        src="/images/arte/arte-img-019.jpg"
        alt=""
      />
    </div>
  </SectionGrid>
</MainLayout>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const images = document.querySelectorAll(".masonry-img");

    images.forEach((image) => {
      image.addEventListener("click", () => {
        const imageShow = document.querySelector("#image-show");
        const src = image.getAttribute("src");
        imageShow.style.display = "block";
        imageShow.querySelector("img").src = image.setAttribute("src", src);

        console.log({ imageClicked: src });
      });
    });
  });
</script>
