---
// layouts imports
import MainLayout from "../Layout/MainLayout.astro";

// components imports
import Cover from "../Components/Cover.astro";
import ContactForm from "../Components/ContactForm.astro";
import ProjectDisplay from "../Components/ProjectDisplay.astro";
import DivisionHr from "../Components/DivisionHr.astro";
import Layout from "../Components/horizontal-comp/Layout.tsx";
import GalleryDiv from "../Components/horizontal-comp/GalleryDiv.tsx";

// data imports
import { projects } from "../Data/projects";
import Buttons from "../Components/Buttons.astro";
import HeroVideo from "../Components/HeroVideo.astro";
import SectionGrid from "../Components/SectionGrid.astro";

const allPosts = await Astro.glob("./memorias/*.md");
---

<MainLayout subtitle="HOME">
  <Cover
    coverTitle="Hey! Bienvenido 🍮"
    description="Soy Yefree, desarrollador web autodidacta. Aportando mi granito de arena para que la web siga siendo ese lugar curioso, extraño y lleno de oportunidades. Esta pagina es mi portafolio, donde puedo mostrar mis proyectos y post destacados."
  >
    <HeroVideo />
  </Cover>
  <SectionGrid arr={projects} />

  <section id="projects" class="projects" aria-label="Proyectos">
    <header class="flex flex-col gap-4 mb-[10vh]">
      <h2 class="projects__h2">Posts Destacados</h2>
      <p class="projects__p">Los post que mas me han gustado del ultimo año</p>
    </header>
    <Layout contentMaxWidth="80ch">
      <GalleryDiv direction="normal" galleryItemsAspectRatio="video">
        {
          allPosts.slice(0, 5).map((post) => (
            <article class="flex flex-col justify-between p-4 border border-[var(--clr-border-2)] bg-[var(--clr-text-3)] rounded-2xl shadow-lg">
              <div class="flex-1">
                <p>{post.frontmatter.category}</p>
                <h3 class="text-3xl">{post.frontmatter.title}</h3>
              </div>
              <Buttons
                width="full"
                link={post.url}
                size="lg"
                classes="cover__links text-center"
                isFilled={true}
                target="_self"
              >
                Leer post
              </Buttons>
            </article>
          ))
        }
      </GalleryDiv>
    </Layout>
  </section>
  <ContactForm />
</MainLayout>

<style lang="scss">
  .projects {
    margin-block: 1rem;
    header {
      width: min(100% - 2rem, 80em);
      margin-inline: auto;
    }
    &__h2 {
      text-transform: uppercase;
      font-weight: 800;
    }
    &__p {
      font-size: clamp(1.55rem, 1.5vw, 1.75rem);
      font-weight: 600;
    }
  }
</style>
