---
interface Props {
  id: string;
  imagen: string;
  alt: string;
  date?: string;
  customHeight?: string;
}

const { imagen, date, id, alt, customHeight = "auto" } = Astro.props;
---

<div id={id} class="masonry-img mb-4 cursor-pointer">
  <!-- Bug with astro image -->
  <img
    id={id}
    loading="lazy"
    src={imagen}
    alt={alt}
    style={`height: ${customHeight};`}
    class="masonry-img w-full object-cover object-center rounded-xl"
  />
  <!-- <div
    class="p-8 fixed bottom-0 left-0 right-0 flex justify-center items-center"
  >
    <img
      class="w-[400px] h-full object-cover object-center rounded-xl"
      id="image-show"
      src="/images/arte/arte-img-019.jpg"
      alt=""
    />
  </div> -->
</div>

<style>
  .masonry-img {
    transition: all 240ms;
    &:hover {
      transform: scale(1.02) rotate(0.5deg);
    }
  }
</style>
